<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <noscript id="__next_css__DO_NOT_USE__"></noscript>
  </head>
  <body>
    <div class="mx-auto max-w-screen-md">
      <h1>templates/index.ejs</h1>
      <div id="app"></div>
    </div>

    <script src="/public/client/bootstrap.js"></script>
  </body>
</html>
